
#cell,
#white,
#black {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.cells {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #00ee00;
}

.stone {
  font-size: 50px;
  background-color: #00ee00;
}

.contents {
  width: 100%;
  height: 100%;
}

#board {
  position: relative;
  margin: 0 500px;
}

#message {
  margin-top: 150px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}